
# IntelliJ project files
.idea
target/
dependency-reduced-pom.xml
src/main/resources/config.yml
src/main/resources/banner.txt
src/main/resources/assets/css/style.css
src/main/resources/assets/css/style.css.map
.DS_Store
src/.DS_Store
src/main/.DS_Store